.calculator-container {
  background-color: gray;
  border: 4px solid black;
  border-radius: 10px;
  padding: 25px;
  width: 350px;
}

button {
  background-color: rgb(74, 6, 182);
  border: 4px solid black;
  border-radius: 10px;
  color: white;
  font-size: 1.4em;
  margin: 2px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
button:hover {
  background-color: rgb(56, 5, 138);
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 5px;
}

#calculator-output {
  display: flex;
  justify-content: flex-end;
  margin: 2px 0 20px 0;
}
#calculator-output input {
  text-align: right;
  flex: 1;
  font-size: 25px;
  border: 4px solid black;
  border-radius: 10px;
}

#res {
  padding: 8px;
}